.add_contact {
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  height: 592px;
}

.add_contact_headline {
  align-items: flex-start;
  background-color: var(--primary-color);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 0 32px;
  width: 44%;
}

.add_contact_headline img {
  height: auto;
  width: 55.6px;
}

.add_contact_headline h2 {
  font-size: 61px;
  font-weight: 700;
}

.add_contact_headline span {
  font-size: 27px;
  font-weight: 400;
}

.add_contact_headline_seperator {
  border: 3px solid var(--secondary-color);
  width: 90px;
}

.add_contact_main {
  align-items: center;
  border: 3px solid var(--white);
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: space-between;
  justify-content: center;
  justify-content: center;
  width: 100%;
  width: 120px;
}

#personimg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%)
    hue-rotate(197deg) brightness(106%) contrast(103%);
  height: 64px;
  margin: 0 40px;
  width: 64px;
}

#add_contact_name {
  display: flex;
  gap: 24px;
  margin: 10px 0;
  padding: 12px 16px;
  place-self: flex-end;
  width: 32px;
  width: 100%;

  #add_contact_name,
  #add_contact_email,
  #add_contact_phone {
    background-color: var(--white);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 24px;
    border: 1px solid var(--color-separator);
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;
  }

  #add_contact_name {
    background-image: url("../img/icon/person.svg");
    margin-top: 25px;
  }

  #add_contact_email {
    background-image: url("../img/icon/mail.svg");
  }

  #add_contact_phone {
    background-image: url("../img/icon/call.svg");
  }
}

.add_contact_input_buttons button {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  padding: 16px;
  white-space: nowrap;
}

.add_contact_input_buttons img {
  height: 24px;
  margin: 0;
  width: 24px;
}

#add_contact_cancel {
  font-size: 20px;
  font-weight: 400;
}

#create_contact {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 21px;
  font-weight: 700;
}

#create_contact img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%)
    hue-rotate(197deg) brightness(106%) contrast(103%);
}
