.brand-splash {
  display: block;
}


@media (width >= 431px) and (width <= 767px) {
  
  .goback {
    position: absolute;
    left: 0;
    top: 0;
  }


.goback img {
    width: 1.75rem;
    height: 1.75rem;
  }


.signUp__view {
    padding-top: max(2.5rem, 220px);
    min-height: 100vh;
    display: flex;
    align-items: center;
  }


.signUp__container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    border-radius: 30px;
    box-shadow: 0 0 14px rgb(0 0 0 / 4%);
    box-sizing: border-box;
  }


.headline__container {
    padding: 0;
    margin-bottom: 2rem;
    position: relative;
  }


.headline__titleWrap h1 {
    font-size: 3rem;
    font-weight: 700;
  }


.signUp__separator {
    width: 100px;
    height: 3px;
  }


.signUp__form {
    gap: 1.25rem;
  }


.inputField__container {
    width: 100%;
    box-sizing: border-box;
  }


.inputField__container input {
    width: 100%;
    height: 50px;
    font-size: 1.0625rem;
    padding: 0 3rem 0 1.25rem;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-sizing: border-box;
  }


.inputField__container-margin24 {
    margin-bottom: 1.5rem;
  }


.inputField__username__icon,
  .inputField__password__icon {
    right: 1.25rem;
  }


.check-box {
    font-size: 1rem;
    gap: 0.625rem;
  }


.signUp__btn__container {
    margin-top: 1.5rem;
    width: 100%;
  }


.btn__signUp {
    width: 100%;
    max-width: 100%;
    height: 54px;
    font-size: 1.0625rem;
    font-weight: 700;
    padding: 0 2rem;
    border-radius: 8px;
    box-sizing: border-box;
  }


.login-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0 2rem;
    position: relative;
    width: 100%;
  }


.login-footer__link {
    color: var(--black);
    font-size: 16px;
    height: auto;
    padding: 0.5rem;
    text-decoration: none;
    width: auto;
  }
}


@media (width <= 430px) {
  

  
  .signUp__view {
    padding: 9rem 1rem 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: var(--z-base);
  }


.signUp__container {
    width: calc(100% - 2rem);
    max-width: 396px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0 0 14px rgb(0 0 0 / 4%);
    box-sizing: border-box;
  }


.headline__container {
    padding: 0;
    margin-bottom: 1.5rem;
  }


.headline__titleWrap h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }


.signUp__separator {
    width: 88px;
    height: 3px;
  }


.signUp__form {
    gap: 1rem;
  }


.inputField__container {
    width: 100%;
    box-sizing: border-box;
  }


.inputField__container input {
    width: 100%;
    height: 47px;
    font-size: 1rem;
    padding: 0 3rem 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 9.5px;
    box-sizing: border-box;
  }


.inputField__container-margin24 {
    margin-bottom: 1.5rem;
  }


.inputField__username__icon,
  .inputField__password__icon {
    right: 1rem;
  }


.check-box {
    font-size: 0.875rem;
    gap: 0.5rem;
  }


.signUp__btn__container {
    margin-top: 1rem;
    width: 100%;
  }


.btn__signUp {
    width: 100%;
    max-width: 100%;
    height: 51px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1.5rem;
    border-radius: 8px;
    box-sizing: border-box;
  }


.login-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0 2rem;
    position: relative;
    width: 100%;
  }


.login-footer__link {
    color: var(--black);
    font-size: 16px;
    height: auto;
    padding: 0.5rem;
    text-decoration: none;
    width: auto;
  }


.goback {
    position: absolute;
    left: 0;
  }


.goback img {
    width: 1.5rem;
    height: 1.5rem;
  }
}


@media (width <= 375px) {
  
  .signUp__container {
    max-width: 343px;
    padding: 2rem 1.25rem;
  }


.headline__titleWrap h1 {
    font-size: 2.25rem;
  }


.signUp__separator {
    width: 76px;
  }


.inputField__container input {
    height: 45px;
    font-size: 0.9375rem;
    padding: 0 2.75rem 0 0.875rem;
  }


.btn__signUp {
    height: 48px;
    font-size: 0.9375rem;
    padding: 0 1.25rem;
  }


.check-box {
    font-size: 0.8125rem;
  }


.login-footer__link {
    font-size: 14px;
    padding: 0.375rem;
  }
}


@media (width <= 320px) {
  
  .signUp__container {
    width: calc(100% - 1.5rem);
    padding: 1.75rem 1rem;
    border-radius: 24px;
  }


.headline__titleWrap h1 {
    font-size: 2rem;
  }


.signUp__separator {
    width: 65px;
    height: 2.5px;
  }


.signUp__form {
    gap: 0.75rem;
  }


.inputField__container-margin24 {
    margin-bottom: 1rem;
  }


.inputField__container input {
    height: 42px;
    font-size: 0.875rem;
    padding: 0 2.5rem 0 0.75rem;
    border-radius: 8px;
  }


.inputField__username__icon,
  .inputField__password__icon {
    right: 0.75rem;
    width: 1.25rem;
  }


.btn__signUp {
    height: 44px;
    font-size: 0.875rem;
    padding: 0 1rem;
    border-radius: 7px;
  }


.check-box {
    font-size: 0.75rem;
    gap: 0.4rem;
  }


.login-footer {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 1.5rem;
  }


.login-footer__link {
    font-size: 13px;
    padding: 0.25rem;
  }


.goback img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
