<header>
  <h2 class="header-slogan">Kanban Project Management Tool</h2>
  <img class="header-logo" src="./assets/images/header_logo.svg" alt="Join Logo" />
  <div class="header-icons">
    <div class="help-icon">
      <a href="#help" aria-label="Hilfe öffnen">
        <img src="./assets/images/help_icon.svg" alt="Help" />
      </a>
    </div>
    <div
      class="profile-icon"
      id="profileIcon"
      aria-haspopup="true"
      aria-expanded="false"
      tabindex="0"
    >
      <div class="profile-name guest-font-size" id="profileInitials">GU</div>
    </div>
  </div>
</header>
<div class="sub-menu-bg d-none" id="profileMenuBackdrop"></div>
<div class="sub-menu sub-menu-close" id="profileMenu" aria-hidden="true">
  <a href="#profile"><div>Profil</div></a>
  <a href="#settings"><div>Einstellungen</div></a>
  <a href="#logout" id="logoutLink"><div>Logout</div></a>
</div>
